@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import './scss/var.scss';

@mixin custom-radius-btn($color, $border) {
  font-family: Source Sans Pro,Arial,Helvetica,sans-serif;
  height: 48px;
  width: 100%;
  color: $color;
  border: $border;
  border-radius: 15px;
  text-align: center;
  transition: all .1s ease;
}

*{
  margin: 0;
  padding: 0;
}
body {
  background-color: $mainBg;
}
.text-gray {
  color: $textGray;
}

.bg-purple {
  background-color: $bgPurple;
}
.custom-btn {
  @include custom-radius-btn(#97a1ff, #e3e3e3);
}

.lite-gray {
  background-color: $liteGray;
}

.medium-title {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.small-title {
  color: #babad2;
  font-size: 14px;
  font-weight: 400;
}
.btn-sm {
  border-radius: 9px;
}

.App {
  background-color: $mainBg;
}
.main-bg {
  background-color:  $mainBg;
}
.main-border {
  border: 1px solid rgb(193 186 186 / 13%);
}
.separator {
    border: 1px solid rgb(193 186 186 / 13%);
    height: 53px;
    border-radius: 20px;
}
.label-min-width {
  min-width: 200px;
}

.mini-text {
  font-size: 12px;
}
.tiny-text {
  font-size: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
